* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: yellow;
}

@keyframes apear {
  0% {
    transform: translate(-1600px);
  }
  100% {
    transform: translate(2000px);
  }
}
@keyframes apear-mob {
  0% {
    transform: translate(-400px);
  }
  100% {
    transform: translate(500px);
  }
}
.galeria__articulo {
  box-shadow: 4.5px 4.5px 10px;
  max-width: 70vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "foto1 foto2 foto2" "art foto2 foto2";
  margin: 4rem auto;
  gap: 1rem;
  background-color: whitesmoke;
}
.galeria__articulo .item:nth-child(1) {
  grid-area: art;
}
.galeria__articulo .item:nth-child(2) {
  grid-area: foto1;
}
.galeria__articulo .item:nth-child(3) {
  grid-area: foto2;
}
.galeria__nombre {
  font-size: 2rem;
  justify-self: center;
  align-self: center;
  text-transform: uppercase;
}

.titulos__galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulos__galeria--main {
  font-size: 4rem;
  text-decoration: underline;
}
.titulos__galeria--second {
  font-size: 2.5rem;
}
.titulos__galeria--small {
  font-size: 3rem;
  font-style: oblique;
}

main {
  padding-top: 150px;
}

html {
  background-color: rgba(203, 235, 203, 0.548);
}

.imag {
  width: 100%;
}
.imag__big {
  width: 100%;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
}

.main__img {
  width: 100vw;
  height: 66vh;
  background-image: url(../img/cerca-zapatero-trabajando-cuero-textil.jpg);
  background-position: 39% 50%;
}

@media (max-width: 768px) {
  .galeria__articulo {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "foto1 foto1" "foto1 foto1" "art foto2";
    max-width: 93vw;
    gap: 0;
  }
  .galeria__articulo .item:nth-child(1) {
    grid-area: art;
  }
  .galeria__articulo .item:nth-child(2) {
    grid-area: foto1;
  }
  .galeria__articulo .item:nth-child(3) {
    grid-area: foto2;
  }
  .galeria__nombre {
    font-size: 1.3rem;
  }
  .titulos__galeria h2,
  .titulos__galeria span {
    font-size: 2.5rem;
    font-weight: 600;
  }
  .dropdown-item {
    margin: 0.5rem 0;
  }
}
.burguer {
  display: none;
}

header {
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: rgb(167, 194, 167);
  z-index: 1;
}

hr {
  margin: 0;
  display: none;
}

ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  margin: 0;
}
ul li {
  list-style-type: none;
  text-transform: uppercase;
  padding: 0 0.5rem;
}

.active {
  background-color: green;
}
.active a {
  color: white;
  font-weight: 700;
}

.gen {
  color: white;
}

.header__logo {
  width: 140px;
}
.header__nav-list {
  align-items: center;
  padding: 0;
  gap: 4rem;
  margin-bottom: 0;
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .burguer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-right: 1rem;
  }
  .logo-phone {
    width: 150px;
    margin-left: 1rem;
  }
  .btn-group {
    display: block;
  }
  .header__nav {
    display: none;
  }
}
.main__index {
  background-color: rgba(203, 235, 203, 0.548);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
}
.main__index h2 {
  color: rgb(11, 95, 32);
  font-size: 8rem;
  animation-name: apear;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  /* animation-delay: 2s; */
  animation-timing-function: linear;
  line-height: initial;
  overflow: hidden;
  margin: 5rem 0;
  width: 1500px;
}
.main__index h2 span {
  font-size: 4rem;
  font-style: oblique;
}

@media (max-width: 768px) {
  .main__index {
    background-color: rgba(203, 235, 203, 0.548);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  .main__index h2 {
    color: rgb(11, 95, 32);
    font-size: 2rem;
    animation-name: apear-mob;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    /* animation-delay: 2s; */
    animation-timing-function: linear;
    line-height: initial;
    overflow: hidden;
    margin-bottom: 1rem;
    width: 500px;
  }
  .main__index h2 span {
    font-size: 2rem;
    font-style: oblique;
  }
  .main__img {
    width: 100vw;
    height: 73vh;
    background-image: url(../img/cerca-zapatero-trabajando-cuero-textil.jpg);
    background-position: 33% 50%;
  }
}

/*# sourceMappingURL=styles.css.map */
